<div class="container-fluid overflow-hidden">
    <div class="row vh-100 overflow-auto">
        <div class="col-12 col-sm-3 col-xl-2 px-sm-2 px-0 d-flex sticky-top border-end">
            <div class="d-flex flex-sm-column flex-row flex-grow-1 align-items-center align-items-sm-start px-3 pt-2">
                <a href="javascript:void(0);" class="d-flex align-items-center mb-3 mb-md-0 justify-content-center p-4">
                    <img src="/images/logo.png" alt="Lumincoin Freelance Logo" style="height: 40px"
                         class="text-center">
                </a>
<!--                <hr width="100%" class="d-sm-block d-none">-->
                <div class="border-bottom mb-5" style="width: 100%;"></div>
                <ul class="nav nav-pills flex-sm-column flex-row flex-nowrap flex-shrink-1 flex-sm-grow-0 flex-grow-1 mb-auto mb-0 justify-content-center align-items-center align-items-sm-start"
                    id="menu">
                    <li class="nav-item w-100">
                        <a href="/" class="nav-link link-dark d-flex align-items-center px-sm-0 px-2">
                            <i class="fs-5 bi-house"></i>
                            <span class="ms-2 d-none d-sm-inline">Главная</span>
                        </a>
                    </li>
                    <li class="nav-item w-100">
                        <a href="/income&expenses" class="nav-link link-dark d-flex align-items-center px-sm-0 px-2">
                            <i class="fs-5 bi-cash-coin"></i>
                            <span class="ms-2 d-none d-sm-inline">Доходы & Расходы</span>
                        </a>
                    </li>
<!--                    <li class="dropdown w-100 mt-sm-auto ms-sm-0 flex-shrink-1">-->
<!--                            <a href="#"-->
<!--                               class="nav-link link-dark rounded-bottom-0 d-flex align-items-center justify-content-between text-decoration-none"-->
<!--                               id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--                                Категории-->
<!--                                <span class="d-none d-sm-inline mx-1"></span>-->
<!--                                <svg width="7" height="14" viewBox="0 0 7 14" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.145063 13.3539C0.051021 13.2601 -0.00183105 13.1327 -0.00183105 12.9999C-0.00183105 12.867 0.051021 12.7397 0.145063 12.6459L5.79206 6.99987L0.145063 1.35387C0.0185907 1.2274 -0.0308022 1.04306 0.0154897 0.8703C0.0617817 0.697536 0.196726 0.562593 0.36949 0.5163C0.542254 0.470008 0.726591 0.519401 0.853063 0.645873L6.85306 6.64587C6.9471 6.73968 6.99996 6.86705 6.99996 6.99987C6.99996 7.1327 6.9471 7.26007 6.85306 7.35387L0.853063 13.3539C0.759259 13.4479 0.63189 13.5008 0.499063 13.5008C0.366235 13.5008 0.238867 13.4479 0.145063 13.3539Z" fill="#052C65"/>-->
<!--                                </svg>-->
<!--                            </a>-->
<!--                            <ul class="dropdown-menu text-small shadow"-->
<!--                                aria-labelledby="dropdownUser2">-->
<!--                                <li class="nav-item rounded-0">-->
<!--                                    <a href="/income" class="nav-link active rounded-0" aria-current="page">-->
<!--                                        Доходы-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                                <li class="nav-item border border-primary rounded-bottom">-->
<!--                                    <a href="/expenses" class="nav-link" aria-current="page">-->
<!--                                        Расходы-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                    </li>-->
                    <li class="nav-item w-100">
                        <a href="#"
                           class="nav-link active rounded-bottom-0 w-100 d-flex align-items-center justify-content-between text-decoration-none"
                           id="dropdownUser" data-bs-toggle="dropdown" aria-expanded="false">
                            Категории
                            <svg width="13" height="8" viewBox="0 0 13 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M0.145429 0.646039C0.239233 0.551998 0.366602 0.499146 0.499429 0.499146C0.632256 0.499146 0.759625 0.551998 0.853429 0.646039L6.49943 6.29304L12.1454 0.646039C12.2719 0.519567 12.4562 0.470174 12.629 0.516466C12.8018 0.562758 12.9367 0.697702 12.983 0.870466C13.0293 1.04323 12.9799 1.22757 12.8534 1.35404L6.85343 7.35404C6.75962 7.44808 6.63226 7.50093 6.49943 7.50093C6.3666 7.50093 6.23923 7.44808 6.14543 7.35404L0.145429 1.35404C0.0513872 1.26024 -0.00146484 1.13287 -0.00146484 1.00004C-0.00146484 0.867212 0.0513872 0.739844 0.145429 0.646039Z" fill="white"/>
                            </svg>
                        </a>
                    </li>
                    <li class="nav-item rounded-0 w-100">
                        <a href="/income" class="nav-link active rounded-0" aria-current="page">
                            Доходы
                        </a>
                    </li>
                    <li class="nav-item border border-primary rounded-bottom w-100">
                        <a href="/expenses" class="nav-link" aria-current="page">
                            Расходы
                        </a>
                    </li>
                </ul>
                <div class="balance d-sm-flex align-items-center d-none" id="balance">
                    <strong class="me-3 mb-0">Баланс:</strong>
                    <h6 class="text-primary mb-0">500$</h6>
                </div>
<!--                <hr class="d-sm-block d-none">-->
                <div class="border-bottom mt-4 mb-4 d-sm-block d-none" style="width: 100%;"></div>
                <div class="dropdown">
                    <a href="#" class="d-flex align-items-center link-dark text-decoration-none px-sm-0 px-2 pb-md-3">
                        <img src="/images/user.png" alt="User" width="32" height="32"
                             class="rounded-circle me-2">
                        <span class="ms-2 d-none d-sm-inline">Пользователь</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="flex-grow-1 p-5 col d-flex flex-column h-sm-100" id="content-layout">

        </div>
    </div>
</div>