<div class="main">
    <h3 class="mb-5">Главная</h3>
    <div class="pb-5 d-flex align-items-center flex-wrap">
        <button type="button" class="btn btn-secondary me-3 mb-2" style="width: 100px;">Сегодня</button>
        <button type="button" class="btn border-secondary me-3 mb-2" style="width: 100px;">Неделя</button>
        <button type="button" class="btn border-secondary me-3 mb-2" style="width: 100px;">Месяц</button>
        <button type="button" class="btn border-secondary me-3 mb-2" style="width: 100px;">Год</button>
        <button type="button" class="btn border-secondary me-3 mb-2" style="width: 100px;">Все</button>
        <button type="button" class="btn border-secondary me-3 mb-2" style="width: 100px;">Интервал</button>
        <div>с
            <input type="number" class="input-date border-0 text-decoration-underline" placeholder="Дата">
            по
            <input type="number" class="input-date border-0 text-decoration-underline ml-2" placeholder="Дата">
        </div>
    </div>
    <div class="pt-5 pb-5 d-flex justify-content-between">
        <div class="income">
            <h3 class="text-center mb-3">Доходы</h3>
            <img src="./images/diagram.png" alt="Диаграмма" class="border-">
        </div>
        <div class="border-start mx-3" style="height: inherit;"></div>
        <div class="expenses">
            <h3 class="text-center mb-3">Расходы</h3>
            <img src="./images/diagram.png" alt="Диаграмма" class="border-">
        </div>
    </div>
</div>