<div class="main">
    <div class="container-fluid ps-0 pe-0">
        <h3 class="mb-5">Главная</h3>
        <div class="row g-3 pb-5">
            <div class="col-12 col-xl-2 col-lg-4 col-sm-6">
                <button type="button" class="btn btn-secondary w-100">Сегодня</button>
            </div>
            <div class="col-12 col-xl-2 col-lg-4 col-sm-6">
                <button type="button" class="btn border-secondary w-100">Неделя</button>
            </div>
            <div class="col-12 col-xl-2 col-lg-4 col-sm-6">
                <button type="button" class="btn border-secondary w-100">Месяц</button>
            </div>
            <div class="col-12 col-xl-2 col-lg-4 col-sm-6">
                <button type="button" class="btn border-secondary w-100">Год</button>
            </div>
            <div class="col-12 col-xl-2 col-lg-4 col-sm-6">
                <button type="button" class="btn border-secondary w-100">Все</button>
            </div>
            <div class="col-12 col-xl-2 col-lg-4 col-sm-6">
                <button type="button" class="btn border-secondary w-100">Интервал</button>
            </div>
            <div class="col-12 col-xl-2 col-lg-4 col-sm-6">
                <div class="d-flex align-items-center">с
                    <input type="date" class="input-date border-0 text-decoration-underline ms-2 me-2"
                           placeholder="Дата">
                    по
                    <input type="date" class="input-date border-0 text-decoration-underline ms-2 ml-2"
                           placeholder="Дата">
                </div>
            </div>
        </div>
    </div>
    <div class="row g-3 pb-5 pt-5 d-flex justify-content-center align-items-center">
        <div class="col-12 col-xl-5 col-sm-6 border-end">
            <h3 class="text-center mb-3">Доходы</h3>
            <div>
                <canvas id="myChart"></canvas>
            </div>
        </div>
        <div class="col-12 col-xl-5 col-sm-6">
            <h3 class="text-center mb-3">Расходы</h3>
            <div>
                <canvas id="diagram2"></canvas>
            </div>
        </div>
    </div>
</div>