<div class="create">
    <h2 class="mb-5">Редактирование дохода/расхода</h2>
    <div class="row d-flex flex-column">
        <div class="col-12 col-sm-8 col-md-4 mb-2">
            <input type="text" class="form-control" placeholder="Тип...">
        </div>
        <div class="col-12 col-sm-8 col-md-4 mb-2">
            <input type="text" class="form-control" placeholder="Категория...">
        </div>
        <div class="col-12 col-sm-8 col-md-4 mb-2">
            <input type="text" class="form-control" placeholder="Сумма в $...">
        </div>
        <div class="col-12 col-sm-8 col-md-4 mb-2">
            <input type="text" class="form-control" placeholder="Дата...">
        </div>
        <div class="col-12 col-sm-8 col-md-4 mb-2">
            <input type="text" class="form-control" placeholder="Комментарий...">
        </div>
    </div>
    <div class="actions pt-3">
        <button type="button" class="btn btn-success me-2" id="updateButton">Сохранить</button>
        <a href="#/income&expenses" class="btn btn-danger">Отмена</a>
    </div>
</div>