<div class="list">
    <h3 class="mb-4">Доходы и расходы</h3>
    <div>
        <a href="/income&expenses/create" class="btn btn-success mb-3">Создать доход</a>
        <a href="/income&expenses/create" class="btn btn-danger mb-3">Создать расход</a>
    </div>
    <div class="mt-4 mb-4 d-flex align-items-center flex-wrap">
        <button type="button" class="btn btn-secondary me-3 mb-2" style="width: 100px;">Сегодня</button>
        <button type="button" class="btn border-secondary me-3 mb-2" style="width: 100px;">Неделя</button>
        <button type="button" class="btn border-secondary me-3 mb-2" style="width: 100px;">Месяц</button>
        <button type="button" class="btn border-secondary me-3 mb-2" style="width: 100px;">Год</button>
        <button type="button" class="btn border-secondary me-3 mb-2" style="width: 100px;">Все</button>
        <button type="button" class="btn border-secondary me-3 mb-2" style="width: 100px;">Интервал</button>
        <div>с
            <input type="number" class="input-date border-0 text-decoration-underline" placeholder="Дата">
            по
            <input type="number" class="input-date border-0 text-decoration-underline ml-2" placeholder="Дата">
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="text-center">
            <tr>
                <th scope="col" class="text-dark">№ Операции</th>
                <th scope="col" class="text-dark">Тип</th>
                <th scope="col" class="text-dark">Категория</th>
                <th scope="col" class="text-dark">Сумма</th>
                <th scope="col" class="text-dark">Дата</th>
                <th scope="col" class="text-dark">Комментарий</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody class="text-center">
            <tr>
                <th scope="row">1</th>
                <td class="text-success">доход</td>
                <td>зарплата</td>
                <td>500$</td>
                <td>11.09.2022</td>
                <td></td>
                <td>
                    <a href="/income&expenses/delete" data-toggle="modal" data-target="#delete"
                       class="btn border-0 p-0 me-2"><i class="bi bi-trash me-2"></i></a>
                    <a href="/income&expenses/edit" class="btn border-0 p-0"><i class="bi bi-pencil"></i></a>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td class="text-danger">расход</td>
                <td>жильё</td>
                <td>2 500$</td>
                <td>12.09.2022</td>
                <td></td>
                <td>
                    <button type="button" data-bs-toggle="modal" data-bs-target="#dateRangeModal"
                            class="btn border-0 p-0 me-2"><i class="bi bi-trash me-2"></i></button>
                    <a href="/income&expenses/edit" class="btn border-0 p-0"><i class="bi bi-pencil"></i></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<div class="modal fade" id="dateRangeModal" tabindex="-1" aria-labelledby="dateRangeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border-0">
            <div class="modal-header border-0">
            </div>
            <div class="modal-body pb-0">
                <h5 class="mt3 text-center">Вы действительно хотите удалить операцию?</h5>
            </div>
            <div class="modal-footer pb-4 border-0 justify-content-center">
                <a href="/income&expenses/delete" class="btn btn-success">Да, удалить</a>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Не удалять</button>
            </div>
        </div>
    </div>
</div>